.page {
	background-color: #6C89C8;
	position: fixed;
	left: 10%;
	right: 10%;
	top:0px;
	bottom:50px;
	padding: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	border: solid 5px;
	border-color: #FFF;
	box-shadow: 0px 0px 10px #FFF, 0px 0px 20px 1px #001541 inset;
}

.header {
	color: #001541;
	text-shadow: 0px 0px 10px #FFF;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
}

body {
	background-color: #001541;
	color: #000;
	font-size: .85em; text-align : left;
	align: center;
	display: none;
}

a:link {
	color:#FFF;	
}

a:visited {
	color:#EEE;
}

.nav {
	list-style-type: none;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin: auto;
	padding: 0;
}

li.nav{
	display: inline-block;
}

.nav_el {
	display: inline-block;
	text-decoration: none;
	width: 80px;
	padding: 0.5em 0.5em;
	padding: 0.5em 0.5em;
}

.nav_el:hover, .nav_el:active {
	color: #001541;
	background-color: #FFF;	
	text-shadow: 0px 0px 10px #001541;
	cursor: default;
}

.nav_el_clicked, .nav_el_clicked:hover, .nav_el_clicked:active {
	color: #FFF;
	background-color: #001541;
	text-shadow: 0px 0px 10px #FFF;
}

#gitfeed {
	float:right;	
}

#games {
	display: none;
}

#resume {
	display: none;
}